<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>760998166021-q8un6jj018su8luf9s3p26smgspa1vqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760998166021-q8un6jj018su8luf9s3p26smgspa1vqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDsNMppvC5eBaQZK6btYtDNQ8KNRgIUWQk</string>
	<key>GCM_SENDER_ID</key>
	<string>760998166021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instagram.fahad</string>
	<key>PROJECT_ID</key>
	<string>instagram-9a309</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-9a309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760998166021:ios:3ec0e060df69a615</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-9a309.firebaseio.com</string>
</dict>
</plist>